<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="js/plugins/jquery.min.js"></script>

    <script type="text/javascript">

    // const requestGet = (url) => {
    //        $.get(url, {access_token: document.cookie})
    //     };
    //
    // </script>

    </head>
<body>



<h3>Hello World this is API</h3>
// <a href="" onclick="requestGet('/api/read')">read test</a>


</body>
</html>